<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/dankagulike_title_logo.png" type="image/png">
  <title>Login | DankaguLike EN Server</title>
  <link rel="stylesheet" href="/login.css" />
</head>
<body>
  <div class="login-container">
    <div class="bg"></div>
    <div class="login-box">
      <img src="/img/dankagulike_title_logo.png" alt="DankaguLike Logo" class="logo">
      <div>
        <p class="title">DankaguLike EN Server</p>
      </div>
      <div class="google-login">
        <a href="/auth/google" class="google-btn">
          <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-icon">
          <span>Sign in with Google</span>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
