.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #FFF;
  font-size: 33px;
  font-weight: 700;
}

.container {
  padding: 30px 10rem;
  box-sizing: border-box;
}

.chart-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.chart-card {
  border: 2px solid #FFF;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff1f;
}

.chart-card .chart-card-title-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.chart-card .chart-card-title-container .chart-card-title {
  color: #FFF;
  font-size: 21px;
  font-weight: 600;
}

.chart-card .chart-card-title-container .chart-card-tag {
  background-color: #FFF;
  padding: 2px 10px;
  border-radius: 10px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chart-card .chart-card-publisher {
  font-size: 15px;
}

.chart-card .chart-card-publisher .chart-card-publisher-name {
  font-weight: 600;
  color: #FFF;
}

.chart-card .chart-card-desc {
  margin-bottom: 15px;
}

.chart-card .chart-card-diff {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chart-card .chart-card-diff .chart-card-diff-node {
  padding: 2px 10px;
  color: #FFF;
}

.chart-card .chart-card-diff .diff-easy {
  background-color: #4caf50;
}

.chart-card .chart-card-diff .diff-normal {
  background-color: #2196f3;
}

.chart-card .chart-card-diff .diff-hard {
  background-color: #ffc107;
}

.chart-card .chart-card-diff .diff-extra {
  background-color: #ff5722;
}

.chart-card .chart-card-diff .diff-lunatic {
  background-color: #9c27b0;
}

.chart-card .chart-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-card .chart-card-actions .chart-card-stats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chart-card .chart-card-actions .delete-button {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}

.chart-card .chart-card-actions .delete-button:hover {
  background-color: #ff1f4b;
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
}

.modal .modal-card .modal-card-head {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem;
}

.modal .modal-card .modal-card-head .modal-card-title {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
}

.modal .modal-card .modal-card-head .delete {
  background-color: transparent;
  border: none;
  color: #000;
}

.modal .modal-card .modal-card-body {
  padding: 1.5rem;
  color: #000;
}

.modal .modal-card .modal-card-foot {
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal .modal-card .modal-card-foot .button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}

.modal .modal-card .modal-card-foot .button.is-danger:hover {
  background-color: #ff1f4b;
}

.modal-card-body {
  background-color: #FFF;
}