<!-- template_navbar.ejs -->
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" onclick="location.href='/'" style="cursor: pointer;">
      <img class="nav-logo" src="/img/dankagulike_title_logo.png" alt="DankaguLike Logo" class="logo">
      <h2 class="nav-title">DankaguLike EN Server</h2>
  </div>
  <div class="navbar-menu">
      <div class="navbar-end">
          <div class="navbar-item">
              <% if (username) { %>
                  <div class="dropdown is-right" id="userDropdown">
                      <div class="dropdown-trigger">
                          <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                              <span class="nav-username"><%= username %></span>
                              <span class="icon is-small">
                                  <i class="fas fa-angle-down"></i>
                              </span>
                          </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                          <div class="dropdown-content">
                              <a href="/profile/charts" class="dropdown-item">My Charts</a>
                              <a href="/profile/edit" class="dropdown-item">Edit Profile</a>
                              <a href="/auth/logout" class="dropdown-item">Logout</a>
                          </div>
                      </div>
                  </div>
              <% } else { %>
                  <a class="button is-light" href="/auth/google">Login</a>
              <% } %>
          </div>
      </div>
  </div>
</nav>

<style>
  body {
    font-family: Arial, sans-serif;
    max-width: 100vw;
    box-sizing: content-box !important;
    overflow-x: hidden;
    margin-top: 1rem;
    padding: 0 5rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-logo {
    height: 35px !important;
    width: auto;
  }

  .nav-title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
  }

  .nav-username {
    color: #000;
  }

  @media screen and (max-width: 1000px) {
    body {
      padding: 0 1rem;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const dropdown = document.getElementById("userDropdown");
      const button = dropdown.querySelector(".dropdown-trigger");

      button.addEventListener("click", function (event) {
          dropdown.classList.toggle("is-active");
          event.stopPropagation();
      });

      document.addEventListener("click", function (event) {
          if (!dropdown.contains(event.target)) {
              dropdown.classList.remove("is-active");
          }
      });
  });
</script>
